- Import Libraries

In [1]:
import pandas as pd

- Import Data

In [2]:
circuits = pd.read_csv("data/f1db_csv/circuits.csv", header=None)
constructor_results = pd.read_csv("data/f1db_csv/constructor_results.csv", header=None)
constructor_standings = pd.read_csv("data/f1db_csv/constructor_standings.csv", header=None)
constructors = pd.read_csv("data/f1db_csv/constructors.csv", header=None)
driver = pd.read_csv("data/f1db_csv/driver.csv", header=None)
driver_standings = pd.read_csv("data/f1db_csv/driver_standings.csv", header=None)
lap_times = pd.read_csv("data/f1db_csv/lap_times.csv", header=None)
pit_stops = pd.read_csv("data/f1db_csv/pit_stops.csv", header=None)
qualifying = pd.read_csv("data/f1db_csv/qualifying.csv", header=None)
races = pd.read_csv("data/f1db_csv/races.csv", header=None)
results = pd.read_csv("data/f1db_csv/results.csv", header=None)
seasons = pd.read_csv("data/f1db_csv/seasons.csv", header=None)
status = pd.read_csv("data/f1db_csv/status.csv", header=None)

- Add columns headers

In [3]:
circuits.columns = ["circuitId", "circuitRef", "name", "location", "country",  "lat", "long", "alt", "url"]
constructor_results.columns = ["constructorResultsId", "raceId", "constructorId", "points", "status"]
constructor_standings.columns = ["constructorStandingsId", "raceId", "constructorId", "points", "position", "positionText", "wins"]
constructors.columns = ["constructorId", "constructorRef", "name", "nationality", "url"]
driver.columns = ["driverId", "driverRef", "number", "code", "forename", "surname", "dob", "nationality", "url"]
driver_standings.columns = ["driverStandingsId", "raceId", "driverId", "points", "position", "positionText", "wins"]
lap_times.columns = ["raceId", "driverId", "lap", "position", "time", "milliseconds"]
qualifying.columns = ["qualifyId", "raceId", "driverId", "constructorId", "number", "position", "q1", "q2", "q3"]
pit_stops.columns = ["raceId", "driverId", "stop", "lap", "time", "duration", "milliseconds"]
results.columns = ["resultId", "raceId", "driverId", "constructorId", "number", "grid", "position", "positionText", "positionOrder", "points", "laps", "time", "milliseconds", "fastestLap", "rank", "fastestLapTime", "fastestLapSpeed", "statusId"]
races.columns = ["raceId", "year", "round", "circuitId", "name", "date", "time", "url"]
seasons.columns = ["year", "url"]
status.columns = ["statusId", "status"]

- add index's where appropriate

In [4]:
circuits = circuits.set_index("circuitId")
constructor_results = constructor_results.set_index("constructorResultsId")
constructor_standings = constructor_standings.set_index("constructorStandingsId")
constructors = constructors.set_index("constructorId")
driver = driver.set_index("driverId")
driver_standings = driver_standings.set_index("driverStandingsId")
qualifying = qualifying.set_index("qualifyId")
results = results.set_index("resultId")
races = races.set_index("raceId")
seasons = seasons.set_index("year")
status = status.set_index("statusId")

- check for null values

In [5]:
print("circuits", circuits.isnull().sum().sum())
print("constructor_results", constructor_results.isnull().sum().sum())
print("constructor_standings", constructor_standings.isnull().sum().sum())
print("constructors", constructors.isnull().sum().sum())
print("driver", driver.isnull().sum().sum())
print("driver_standings", driver_standings.isnull().sum().sum())
print("lap_times", lap_times.isnull().sum().sum())
print("pit_stops", pit_stops.isnull().sum().sum())
print("qualifying", qualifying.isnull().sum().sum())
print("races", races.isnull().sum().sum())
print("results", results.isnull().sum().sum())
print("seasons", seasons.isnull().sum().sum())
print("status", status.isnull().sum().sum())

circuits 0
constructor_results 0
constructor_standings 0
constructors 0
driver 1
driver_standings 0
lap_times 0
pit_stops 0
qualifying 293
races 0
results 0
seasons 0
status 0

- check driver null

In [6]:
driver[driver.isnull().any(axis=1)]

         driverRef number code forename  surname         dob nationality  url
driverId
452        monarch     \N   \N   Thomas  Monarch  1945-09-03    American  NaN

- check qualifying nulls

In [7]:
print("null values from q1, q2, q3:", qualifying[["q1", "q2", "q3"]].isnull().sum().sum())

qualifying[qualifying.isnull().any(axis=1)]

null values from q1, q2, q3: 293

,raceId,driverId,constructorId,number,position,q1,q2,q3
qualifyId,,,,,,,,
3882,114,23,3,4,1,1:15.259,NaN,NaN
3883,114,8,1,6,2,1:15.295,NaN,NaN
3884,114,31,3,3,3,1:15.415,NaN,NaN
3885,114,15,4,7,4,1:15.500,NaN,NaN
3886,114,30,6,1,5,1:15.644,NaN,NaN
3887,114,14,1,5,6,1:15.700,NaN,NaN
3888,114,22,6,2,7,1:15.820,NaN,NaN
3889,114,4,4,8,8,1:15.884,NaN,NaN
3890,114,17,19,14,9,1:16.237,NaN,NaN
3891,114,43,7,21,10,1:16.744,NaN,NaN
3892,114,35,16,16,11,1:16.755,NaN,NaN
3893,114,21,17,11,12,1:16.967,NaN,NaN
3894,114,42,19,15,13,1:17.103,NaN,NaN
3895,114,2,15,9,14,1:17.176,NaN,NaN
3896,114,49,15,10,15,1:17.402,NaN,NaN
3897,114,52,17,12,16,1:17.452,NaN,NaN
3898,114,44,7,20,17,1:17.464,NaN,NaN
3899,114,50,18,19,18,1:18.706,NaN,NaN
3900,114,51,18,18,19,1:20.063,NaN,NaN
7390,981,815,10,11,11,1:38.511,1:37.582,NaN
7391,981,807,4,27,12,1:39.242,1:38.059,NaN
7392,981,4,1,14,13,1:39.134,1:38.202,NaN
7393,981,826,5,26,14,1:39.183,1:38.245,NaN
7394,981,832,5,55,15,1:39.788,1:38.526,NaN
7395,981,825,210,20,16,1:40.489,NaN,NaN
7396,981,835,4,30,17,1:40.646,NaN,NaN
7397,981,828,15,9,18,1:41.732,NaN,NaN
7398,981,836,15,94,19,1:41.875,NaN,NaN
7424,983,20,6,5,20,NaN,NaN,NaN
7430,983,13,3,19,11,1:32.267,1:32.034,NaN
...,...,...,...,...,...,...,...,...
8028,1013,817,4,3,11,1:42.486,1:42.477,NaN
8029,1013,848,5,23,12,1:42.154,1:42.494,NaN
8030,1013,825,210,20,13,1:42.382,1:42.699,NaN
8031,1013,840,211,18,14,1:42.630,NaN,NaN
8032,1013,154,210,8,15,1:43.407,NaN,NaN
8033,1013,807,4,27,16,1:43.427,NaN,NaN
8034,1013,847,3,63,17,1:45.062,NaN,NaN
8035,1013,9,3,88,18,1:45.455,NaN,NaN
8036,1013,8,51,7,19,NaN,NaN,NaN
8037,1013,842,9,10,20,NaN,NaN,NaN
8167,1020,844,6,16,10,1:12.229,1:12.344,NaN
8168,1020,841,51,99,11,1:13.170,1:12.786,NaN
8169,1020,825,210,20,12,1:13.103,1:12.789,NaN
8170,1020,817,4,3,13,1:13.131,1:12.799,NaN
8171,1020,826,5,26,14,1:13.278,1:13.135,NaN
8172,1020,840,211,18,15,1:13.256,1:13.450,NaN
8173,1020,846,1,4,16,1:13.333,NaN,NaN
8174,1020,848,5,23,17,1:13.461,NaN,NaN
8175,1020,847,3,63,18,1:14.721,NaN,NaN
8176,1020,9,3,88,19,1:14.839,NaN,NaN
8177,1020,20,6,5,20,NaN,NaN,NaN
8208,1022,154,210,8,11,1:45.694,1:44.797,NaN
8209,1022,846,1,4,12,1:46.154,1:44.847,NaN
8210,1022,840,211,18,13,1:46.000,1:45.047,NaN
8211,1022,848,9,23,14,1:45.528,1:45.799,NaN
8212,1022,841,51,99,15,1:45.637,NaN,NaN
8213,1022,842,5,10,16,1:46.435,NaN,NaN
8214,1022,832,1,55,17,1:46.507,NaN,NaN
8215,1022,826,5,26,18,1:46.518,NaN,NaN
8216,1022,847,3,63,19,1:47.548,NaN,NaN

- find all races from 2013-2018

In [8]:
from2013 = races['year']>2012
to2018 = races['year'] <= 2018
races13 = races[from2013 & to2018]
races13.year.describe()

count     119.000000
mean     2015.563025
std         1.715526
min      2013.000000
25%      2014.000000
50%      2016.000000
75%      2017.000000
max      2018.000000
Name: year, dtype: float64

- get all results, qualifying, pit_stops, lap_times, constructor_results, constructor_standings and driver_standings,   from those races

In [9]:
print("""results""")
results = results.join(races["year"], on='raceId', how="left", rsuffix="_races")
from2013 = results['year']>2012
to2018 = results['year'] <= 2018
results13 = results[from2013 & to2018]
print(results13.year.min(), results13.year.max())

print("""
qualifying""")
qualifying = qualifying.join(races["year"], on='raceId', how="left", rsuffix="_races")
from2013 = qualifying['year']>2012
to2018 = qualifying['year'] <= 2018
qualifying13 = qualifying[from2013 & to2018]
print(qualifying13.year.min(), qualifying13.year.max())

print("""
pit_stops""")
pit_stops = pit_stops.join(races["year"], on='raceId', how="left", rsuffix="_races")
from2013 = pit_stops['year']>2012
to2018 = pit_stops['year'] <= 2018
pit_stops13 = pit_stops[from2013 & to2018]
print(pit_stops13.year.min(), pit_stops13.year.max())

print("""
lap_times""")
lap_times = lap_times.join(races["year"], on='raceId', how="left", rsuffix="_races")
from2013 = lap_times['year']>2012
to2018 = lap_times['year'] <= 2018
lap_times13 = lap_times[from2013 & to2018]
print(lap_times13.year.min(), lap_times13.year.max())

print("""
constructor_results""")
constructor_results = constructor_results.join(races["year"], on='raceId', how="left", rsuffix="_races")
from2013 = constructor_results['year']>2012
to2018 = constructor_results['year'] <= 2018
constructor_results13 = constructor_results[from2013 & to2018]
print(constructor_results13.year.min(), constructor_results13.year.max())

print("""
constructor_standings""")
constructor_standings = constructor_standings.join(races["year"], on='raceId', how="left", rsuffix="_races")
from2013 = constructor_standings['year']>2012
to2018 = constructor_standings['year'] <= 2018
constructor_standings13 = constructor_standings[from2013 & to2018]
print(constructor_standings13.year.min(), constructor_standings13.year.max())

print("""
driver_standings""")
driver_standings = driver_standings.join(races["year"], on='raceId', how="left", rsuffix="_races")
from2013 = driver_standings['year']>2012
to2018 = driver_standings['year'] <= 2018
driver_standings13 = driver_standings[from2013 & to2018]
print(driver_standings13.year.min(), driver_standings13.year.max())

results
2013 2018

qualifying
2013 2018

pit_stops
2013 2018

lap_times
2013 2018

constructor_results
2013 2018

constructor_standings
2013 2018

driver_standings
2013 2018

- get drivers and constructors from 2013 to 2018

In [10]:
driver13 = results13[["driverId"]].join(driver, on="driverId", how="inner", rsuffix="_results")
driver13 = driver13.drop_duplicates("driverId")


constructors13 = results13[["constructorId"]].join(constructors, on="constructorId", how="inner", rsuffix="_results")
constructors13 = constructors13.drop_duplicates("constructorId")


driver13 = driver13.set_index("driverId")
constructors13 = constructors13.set_index("constructorId")

- get circuits from 2013 to 2018

In [11]:
circuits13 = races13[["circuitId"]].join(circuits, how="inner", on="circuitId" ,rsuffix="_races")
circuits13 = circuits13.drop_duplicates('circuitId')
circuits13 = circuits13.set_index("circuitId")

- get seasons from 2013 to 2018

In [12]:
from2013 = seasons.index > 2012
to2018 = seasons.index <= 2018
seasons13 = seasons[from2013 & to2018]
seasons13

                                                    url
year
2013  https://en.wikipedia.org/wiki/2013_Formula_One...
2014  https://en.wikipedia.org/wiki/2014_Formula_One...
2015  https://en.wikipedia.org/wiki/2015_Formula_One...
2016  https://en.wikipedia.org/wiki/2016_Formula_One...
2017  https://en.wikipedia.org/wiki/2017_Formula_One...
2018  https://en.wikipedia.org/wiki/2018_Formula_One...

- check null values again

In [13]:
print("circuits13", circuits13.isnull().sum().sum())
print("constructor_results13", constructor_results13.isnull().sum().sum())
print("constructor_standings13", constructor_standings13.isnull().sum().sum())
print("constructors13", constructors13.isnull().sum().sum())
print("driver13", driver13.isnull().sum().sum())
print("driver_standings13", driver_standings13.isnull().sum().sum())
print("lap_times13", lap_times13.isnull().sum().sum())
print("pit_stops13", pit_stops13.isnull().sum().sum())
print("qualifying13", qualifying13.isnull().sum().sum())
print("races13", races13.isnull().sum().sum())
print("results13", results13.isnull().sum().sum())
print("seasons13", seasons13.isnull().sum().sum())
print("status", status.isnull().sum().sum())

circuits13 0
constructor_results13 0
constructor_standings13 0
constructors13 0
driver13 0
driver_standings13 0
lap_times13 0
pit_stops13 0
qualifying13 190
races13 0
results13 0
seasons13 0
status 0

- output as csv files

In [14]:
circuits13.to_csv("data/f1db_2013_2018/circuits13_18.csv")
constructor_results13.to_csv("data/f1db_2013_2018/constructor_results13-18.csv")
constructor_standings13.to_csv("data/f1db_2013_2018/constructor_standings13-18.csv")
constructors13.to_csv("data/f1db_2013_2018/constructors13-18.csv")
driver13.to_csv("data/f1db_2013_2018/driver13-18.csv")
driver_standings13.to_csv("data/f1db_2013_2018/driver_standings13-18.csv")
lap_times13.to_csv("data/f1db_2013_2018/lap_times13-18.csv")
pit_stops13.to_csv("data/f1db_2013_2018/pit_stops13-18.csv")
qualifying13.to_csv("data/f1db_2013_2018/qualifying13-18.csv")
races13.to_csv("data/f1db_2013_2018/races13-18.csv")
results13.to_csv("data/f1db_2013_2018/results13-18.csv")
seasons13.to_csv("data/f1db_2013_2018/seasons13-18.csv")
status.to_csv("data/f1db_2013_2018/status.csv")